s

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  min-height: 657px;
  min-width: 1365px;
  margin: 0;
  overflow: hidden;
  /* overflow-y: hidden; */
}

/* "width: 980px; margin: 0 auto; overflow: hidden;" */

@font-face {
  font-family: Icon-Set;
  src: url(/assets/images/icons.woff2) format('woff2'),
    url(/assets/images/icons.woff) format('woff'),
    url(/assets/images/icons.eot) format('embedded-opentype'),
    url(/assets/images/icons.ttf) format('truetype'),
    url(/assets/images/icons.svg) format('svg');
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
