<header class="header">
  <div class="logo">
    <img src="../../../assets/images/logo.png">
  </div>
  <div class="navbar-right">
    <nav *ngIf="checkPage('home')">
      <a [class.header-tab-active]="this.checkSelectedTab('/')" href="/" (click)="onTabClick('/')">Home</a>
      <a [class.header-tab-active]="this.checkSelectedTab('/login')" href="login" (click)="onTabClick('login')">Sign
        In</a>
      <a href="register" class="nav-button register">Register</a>
    </nav>
    <nav *ngIf="checkPage('dashboard')">
      <a [class.header-tab-active]="this.checkSelectedTab('/dashboard')" href="dashboard"
        (click)="onTabClick('dashboard')">Applications</a>
      <a [class.header-tab-active]="this.checkSelectedTab('/user')" href="user" (click)="onTabClick('user')">My
        Account</a>
      <button class="nav-button logout" (click)="logout()">Logout</button>
    </nav>
  </div>
</header>
