.apidemo-header {
  box-shadow: 0 2px 4px #cccccc;
  position: fixed;
  top: 0;
  left: 0;
  height: 113px;
  width: 100%;
  background: #ffffff;
  z-index: 1;
  padding-left: 30px;
  padding-right: 30px;
}

.apidemo-header img {
  width: 256px;
  height: 64px;
}

.apidemo-header .nav-link,
.apidemo-header .navbar-expand-md .navbar-nav .nav-link {
  padding: .4rem .5rem;
  font-size: 0.90rem;
  line-height: 2.5;
  font-family: "Roboto";
  color: #363a40;
  font-weight: 600;
}

.apidemo-header .navbar {
  height: 112px;
}

.apidemo-header .navbar-nav {
  margin-top: 62px;
}

.apidemo-header .navbar-expand-md .navbar-nav .nav-item .btn {
  font-family: "Roboto";
  border-radius: 0;
  margin-top: 8px;
}

.apidemo-header .navbar-light .navbar-nav .active>.nav-link,
.apidemo-header .navbar-light .navbar-nav .nav-link.active,
.apidemo-header .navbar-light .navbar-nav .nav-link.show,
.apidemo-header .navbar-light .navbar-nav .show>.nav-link,
.apidemo-header .navbar-light .navbar-nav .nav-item .btn.register-btn.active {
  border-bottom: 4px solid #26e5c2;
}

.apidemo-header .navbar-expand-md .navbar-nav .nav-item .btn.register-btn {
  border: 2px solid #26e5c2;
  background: none;
  font-family: "Roboto";
  color: #363a40;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: none;
}

.apidemo-header .navbar-expand-md .navbar-nav .nav-item .btn.register-btn.active {
  border-bottom: 4px solid #26e5c2;
  background: none;
  font-family: "Roboto";
  color: #363a40;
  font-weight: 600;
}

.apidemo-header .dropdown-menu.show {
  padding-left: 10px;
  right: 0px;
  left: auto;
}

@media screen and (max-width: 767px) {
  .apidemo-header {
    padding-left: 0;
    padding-right: 0;
  }

  .apidemo-header .navbar-collapse.show {
    background: #fff;
    border: 1px solid #ccc;
    margin-right: 0px;
    margin-left: 50%;
    margin-top: -8px;
    border-color: rgba(0, 0, 0, .1);
  }

  .apidemo-header .navbar-nav {
    margin-top: 0px;
  }

  .apidemo-header .navbar-expand-md .navbar-nav .nav-item .btn.register-btn {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .apidemo-header .navbar {
    padding: 24px 15px;
  }
}

@media screen and (max-width: 576px) {
  .apidemo-header img {
    width: 215px;
    height: 54px;
  }
}