<div class="container-fluid padding-0" (click)="onClick($event)">
  <div *ngIf="loading" class="loader-screen">
    <img class="loader" src="../../assets/images/Spinner.svg">
  </div>
  <app-header></app-header>
  <div class="dashboard-page">
    <div class="row margin-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="page-title">DASHBOARD</div>
        <div class="page-info">
          <div class="page-info-icon">
            <p></p>
          </div>
          <div class="page-info-content breaktext_now">This page was created using the <a
              href="https://developer.idaptive.com/reference#post_uprest-getupdata" target="_blank">UPRest/GetUPData</a>
            API. For more information, please visit the <a
              href="https://developer.idaptive.com/reference#application-management" target="_blank">Application
              Management</a>
            guide on the developer portal.</div>
        </div>
      </div>
    </div>
    <div class="row margin-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 margin-top-2p">
        <div *ngFor="let app of appList; let i = index" class="app-block">
          <a href={{app.url}} target="_blank"><img class="app-image" src={{app.icon}} />
            <div class="app-name">{{app.name}}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>