<div class="container-fluid padding-0">
  <app-header></app-header>
  <div class="register-page">
    <div class="row margin-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div *ngIf="!update">
          <div class="page-title">NEW USER REGISTRATION</div>
          <div class="page-info">
            <div class="page-info-icon">
              <p></p>
            </div>
            <div class="page-info-content">This page was created using the <a
                href="https://developer.idaptive.com/reference#post_cdirectoryservice-createuser"
                target="_blank">CDirectoryService/CreateUser</a>.
              For more information, please visit the <a
                href="https://developer.idaptive.com/reference#cloud-user-management" target="_blank">Cloud
                User Management</a> guide on the developer portal.</div>
          </div>
        </div>
        <div *ngIf="update">
          <div class="page-title">MY ACCOUNT</div>
          <div class="page-info">
            <div class="page-info-icon">
              <p></p>
            </div>
            <div class="page-info-content breaktext_now">This page was created using the <a
                href="https://developer.idaptive.com/reference#post_cdirectoryservice-getuser"
                target="_blank">CDirectoryService/GetUser</a>
              API. For more information, please visit the <a
                href="https://developer.idaptive.com/reference#cloud-user-management" target="_blank">Cloud
                User Management</a> guide on the developer portal.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-0">
      <div #divToScroll class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 margin-top-2p">
        <form [formGroup]="registerForm" class="register-form" autocomplete="off">
          <div *ngIf="errorMessage != ''" class="user-error">
            <div class="error-image"><img
                [src]="checkMessageType() ? '../../assets/images/green_check.png' : '../../assets/images/issue_icon.png'" />
            </div>
            <p [style.color]="checkMessageType() ? '#000' : '#cc3300'">{{errorMessage}}</p>
          </div>
          <div class="form-group">
            <label class="required">Username</label>
            <input #login class="form-control" formControlName="Name" required>
            <span *ngIf="hasError('Name', 'required')">Login Name is required</span>
          </div>
          <div class="form-group">
            <label class="required">Email Address</label>
            <input class="form-control" formControlName="Mail" type="email" required>
            <span *ngIf="hasError('Mail', 'required')">Email Address is required</span>
            <span *ngIf="hasError('Mail', 'email')">Must be valid email. EXAMPLE@YOURDOMAIN.COM</span>
          </div>
          <div class="form-group">
            <label class="required">Display Name</label>
            <input class="form-control" formControlName="DisplayName" required>
            <span *ngIf="hasError('DisplayName', 'required')">Display Name is required</span>
          </div>
          <div *ngIf="!update" class="form-group">
            <label class="required">Password</label>
            <input class="form-control" formControlName="Password" type="password" (blur)="matchPasswords()" required>
            <span *ngIf="hasError('Password', 'required')">Password is required</span>
            <span *ngIf="hasError('Password', 'minlength')">Password must be at least 8 characters long</span>
            <span *ngIf="hasError('Password', 'maxlength')">Password should not be longer than 64 characters</span>
          </div>
          <div *ngIf="!update" class="form-group">
            <label class="required">Confirm Password</label>
            <input class="form-control" formControlName="ConfirmPassword" type="password" (blur)="matchPasswords()"
              required>
            <span *ngIf="hasError('ConfirmPassword', 'required')">Confirm Password is required</span>
            <span *ngIf="!matchPasswordsCheck">Confirm Password must match with the Password</span>
          </div>
          <div class="form-group">
            <label>Mobile Number</label>
            <input class="form-control" formControlName="MobileNumber" name="mobileNumber">
            <!-- <span *ngIf="hasError('MobileNumber', 'pattern')">Mobile Number pattern does not match</span> -->
          </div>
          <section class="section-container checkbox-section form-group">
            <div>
              <input class="form-control" type="checkbox" formControlName="MFA" />Activate MFA
            </div>
          </section>
          <section class="register-button-section">
            <button [disabled]="socialUser" class="btn btn-primary btn-sm margin-right-15 margin-bottom-60"
              type="submit" (click)="login.focus(); registerUser(registerForm.value);">{{submitButtonText}}</button>
            <button class="btn btn-primary btn-sm margin-right-15 margin-bottom-60"
              (click)="cancelRegister()">Cancel</button>
          </section>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>