.content {
  flex: 1;
  padding: 50px 50px 40px 50px;
  height: 437px;
  overflow-y: auto;
}

.page-title {
  color: #4a4a4a;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}

.page-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 18px;
  opacity: 1;
  border: 1px #e9e5e5;
  box-shadow: 0px 2px 4px;
  color: #4a4a4a;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}

.page-info-icon p:before {
  font-family: Icon-Set;
  font-size: 25px;
  margin-right: 10px;
  vertical-align: middle;
  content: "I";
}

.page-info-icon p {
  margin: 28px 0 0 11px;
}

.page-info-icon {
  order: 1;
  width: 50px;
  color: #fff;
  background: #0078d4;
}

.page-info-content {
  order: 2;
  width: 100%;
  padding: 20px;
}

.page-content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 55px;
}

.content a {
  color: #0381e4 !important;
  text-decoration: none;
}

.login-form {
  order: 1;
  width: 404px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.login-error {
  display: flex;
  align-items: flex-start;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #cc3300;
  margin-bottom: 10px;
}

.error-image {
  order: 1;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.message-info-icon {
  background-image: '../../assets/images/green_check.png';
}

.message-error-icon {
  background-image: '../../assets/images/issue_icon.png';
}

.control-group {
  position: relative;
  padding-bottom: 1.25em;
}

form label,
form input,
form select,
form span {
  display: block !important;
}

form input,
form select,
form textarea {
  line-height: 24px;
  width: 395px;
  margin-top: 5px;
  padding-left: 5px;
}

form select {
  padding-left: 2px !important;
  height: 26px;
  width: 404px !important;
}

form input[type="checkbox"] {
  width: auto !important;
  margin: 0px 5px 0 0 !important;
}

form span {
  color: #f44336;
  font-size: 75%;
  margin-top: .5em;
}

label.required::after {
  content: '*';
  color: #f44336;
  font-weight: bold;
  margin-left: .25em;
}

.username-block {
  display: flex;
  justify-content: space-between;
}

.username-label {
  order: 1;
}

.start-over {
  order: 2;
}

.login-button-section {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.forgot-password-anchor {
  order: 1;
  margin-top: 5px;
  color: #0381e4;
}

.login-button {
  background-color: #0381e4;
  border: none;
  color: #fff !important;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  order: 2;
  height: 30px;
}

.login-partition {
  order: 2;
  text-align: center;
  margin-left: 230px;
}

.vertical-line {
  border-left: 2px solid #cccccc;
  height: 250px;
  left: 50%;
  top: 30px;
}

.circle {
  height: 60px;
  width: 60px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 100%;
  display: inline-block;
  line-height: 60px;
  margin-top: -160px;
  color: #aaa;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  margin-left: -32px;
}

.social-login-block {
  order: 3;
  width: 230px;
  margin-left: 230px;
}

button.social-login-button {
  width: 230px;
  height: 52px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 15px;
  margin: 5px;
}

button.social-login-button:before {
  font-family: Icon-Set;
  font-size: 30px;
  margin: 0 30px 0 -20px;
  vertical-align: middle;
}

button.facebook {
  background: #3c5a99;
}

button.facebook:before {
  content: 'z';
}

button.google {
  background: #db4437;
}

button.google:before {
  content: '+';
  margin: 0 35px 0 -25px !important;
}

button.linkedin {
  background: #006192;
}

button.linkedin:before {
  content: 'l';
}

button.microsoft {
  background: #00a4ef;
}

button.microsoft:before {
  content: 'M';
}
