<div class="wrapper">
  <app-header></app-header>
  <div class="content">
    <div class="page-title">LOGIN</div>
    <div class="page-info">
      <div class="page-info-icon">
        <p></p>
      </div>
      <div class="page-info-content">This page was created using the <a
          href="https://developer.idaptive.com/reference#post_security-startauthentication">Security/StartAuthentication</a>
        API and the <a
          href="https://developer.idaptive.com/reference#post_security-advanceauthentication">Security/AdvanceAuthentication</a>
        API. For more information, please visit the <a
          href="https://developer.idaptive.com/docs/adaptive-authentication">Adaptive Authentication</a>
        guide on the developer portal.</div>
    </div>
    <div class="page-content">
      <form [formGroup]="loginForm" class="login-form" autocomplete="off">
        <div *ngIf="authMessage != ''" class="login-error">
          <div class="error-image"><img
              [src]="checkMessageType() ? '../../assets/images/green_check.png' : '../../assets/images/issue_icon.png'" />
          </div>
          <p style="order:2;" [style.color]="checkMessageType() ? '#000' : '#cc3300'">{{authMessage}}</p>
        </div>
        <div class="control-group">
          <div class="username-block">
            <label class="required username-label">Username</label>
            <div *ngIf="!showLoginComponent('username')" class="start-over">
              <a href="/login" (click)="startOver()">Start Over</a>
            </div>
          </div>
          <input formControlName="username" required>
          <span *ngIf="hasError('username', 'required')">Username is required</span>
          <span *ngIf="hasError('username', 'email')">Username pattern does not match</span>
        </div>
        <div *ngIf="showLoginComponent('challenge')" class="control-group">
          <label class="required">Authentication Method</label>
          <select formControlName="authMethod" (change)="authMethodChange($event)" required>
            <!-- <option disabled hidden [value]="">Select an auth method</option> -->
            <option *ngFor="let mechanism of mechanisms; let i = index" [selected]="i==0" [value]="i">
              {{mechanism.PromptSelectMech}}
            </option>
          </select>
          <span *ngIf="hasError('authMethod', 'required')">Authentication Method is required</span>
        </div>
        <div *ngIf="textAnswer" class="control-group">
          <label class="required">{{answerLabel}}</label>
          <input formControlName="answer" type="password" required>
          <span *ngIf="hasError('answer', 'required')">{{answerErrorText}} is required</span>
        </div>
        <div *ngIf="showLoginComponent('reset')" (blur)="matchPasswords()" class="control-group">
          <label class="required">Confirm New Password</label>
          <input formControlName="confirmPassword" type="password" required>
          <span *ngIf="hasError('confirmPassword', 'required')">Confirm New Password is required</span>
          <span *ngIf="!matchPasswordsCheck">Confirm Password must match with the Password</span>
        </div>
        <section class="login-button-section">
          <div *ngIf="showLoginComponent('password')" class="forgot-password-anchor">
            <a href="/login" (click)="forgotPassword()">Forgot Password?</a>
          </div>
          <button class="login-button" type="submit" (click)="loginUser(loginForm.value)">{{loginButtonText}}</button>
        </section>
        <div *ngIf="showLoginComponent('username')" style="margin-top:18px;">Need an account? <a
            href="/register">Register</a>
        </div>
      </form>
      <div class="login-partition">
        <div class="vertical-line"></div>
        <div class="circle">OR</div>
      </div>
      <div class="social-login-block">
        <button class="social-login-button facebook" (click)="socialLogin('Facebook')">Login with Facebook</button>
        <button class="social-login-button google" (click)="socialLogin('Google')">Login with Google</button>
        <button class="social-login-button linkedin" (click)="socialLogin('LinkedIn')">Login with LinkedIn</button>
        <button class="social-login-button microsoft" (click)="socialLogin('Microsoft')">Login with Microsoft</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
