.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 35px 0 45px 40px;
  height: 437px;
  overflow-y: auto;
}

.home-left {
  width: 80%;
  order: 1;
}

.home-title {
  color: #363a40;
  width: 100%;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 2px;
  text-align: left;
}

.home-tagline {
  color: #26e5c2;
  width: 100%;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 30px;
  text-align: left;
}

.home-main-content {
  color: #4a4a4a;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}

.home-main-content p {
  margin-top: 35px;
}

.home-main-content a {
  color: #0381e4 !important;
  text-decoration: none;
}

.home-right {
  order: 2;
  width: 20%;
  text-align: left;
  margin-left: 25px;
  margin-top: -25px;
}

.home-contact {
  vertical-align: middle;
  margin-top: 100px;
  opacity: 1;
  line-height: 28px;
  background: #fff;
  width: 190px;
  box-shadow: 0px 4px 10px #dfdfdf;
  padding: 20px 5px 50px 20px;
}

.home-contact-heading:before {
  font-family: Icon-Set;
  font-size: 20px;
  margin-right: 10px;
  vertical-align: top;
  color: #26e5c2;
  content: "ª";
}

.home-contact-heading {
  color: #4a4a4a;
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}

.home-contact-content {
  color: #363a40;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.home-contact-content a {
  color: #0381e4 !important;
  text-decoration: none;
}

.home-contact-content p {
  margin-top: 10px;
}
