<div class="wrapper">
  <app-header></app-header>
  <div class="content home-container">
    <div class="home-left">
      <div class="home-title">Idaptive API Demo</div>
      <div class="home-tagline">A demonstration of the power of integrating with the Centrify Identify Platform.</div>
      <div class="home-main-content">
        <p>The Centrify Identity Platform (CIP) is the power behind many popular Centrify products such as <a
            href="https://www.centrify.com/products/identity-service/">Centrify
            Application Services</a> and <a href="https://www.centrify.com/products/privilege-service/">Centrify
            Infrastructure Services</a>. CIP is not just available for Centrify products to use, however, which is
          why
          every powerful feature of the platform is available to developers via RESTful API's. Every feature of
          Centrify
          Application Services can be integrated into your own websites and products. MFA can be integrated into
          your
          own applications. Identity management can be simplified for your customer facing products and websites.
          The
          possibilities are many with the Centrify Identity Platform.
        </p>
        <p>The purpose of this demonstration is to show a few of the integration possibilities of the Centrify
          Identity
          Platform. This entire site has been programmed in ASP.Net and C#, and every page is independent. This
          demo is
          completely open source and can be used in integration projects or simply to learn. The source code can be
          found on <a href="https://github.com/centrify/centrify-samples-aspnet-server">Github</a>. To learn more
          about
          the
          Centrify Identity Platform API's, and how to use them, please visit the <a
            href="http://developer.centrify.com/site/global/home/index.gsp">Centrify
            Developer Portal</a>.
        </p>
      </div>
    </div>
    <div class="home-right" col-span>
      <div class="home-contact">
        <div>
          <div class="home-contact-heading">Contact Us
          </div>
        </div>
        <div class="home-contact-content">
          <a href="mailto:devsupport@centrify.com" target="_top">devsupport@centrify.com</a>
          <p class="">Email us if you have any questions, or would like to speak with a Developer
            Advocate regarding the
            Centrify API's, custom developement, or custom integration.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
