<div class="container-fluid padding-0">
  <app-header></app-header>
  <div class="home-page row margin-0">
    <div class="col-12 col-sm-7 col-md-8 col-lg-9 col-xl-9">
      <div class="home-title">Idaptive API Demo</div>
      <div class="home-tagline">Explore Idaptive RESTful API capabilities.</div>
      <div class="home-main-content">
        <p class="text-justify breaktext_now">The purpose of this demonstration is to show a simple integration of
          the Idaptive platform features with your website or web applications.</p>
        <p class="text-justify breaktext_now">The Idaptive REST APIs expose all features of the Idaptive platform,
          including the ability to
          programmatically execute all functions of the Idaptive User Portal. This site shows you how to use REST APIs
          to:</p>
        <ul class="text-justify breaktext_now">
          <li>Integrate registration functionality with a web-based application.</li>
          <li>Add option for a self-service password reset.</li>
          <li>Allow users to register and log in with their social profiles.</li>
          <li>Enable single sign-on for multiple web applications.</li>
          <li>Require users to pass multi-factor authentication challenges to gain access.</li>
          <li>Customize features of Idaptive platform.</li>
        </ul>
        <p class="text-justify breaktext_now">This site has been programmed as a Single Page Application using Angular
          and Java. This demo is completely
          open source and can be used in integration projects or simply to learn. The source code can be found on our
          <a href="https://github.com/idaptive/idaptive-api-demo" target="_blank">GitHub</a>.</p>
        <p class="text-justify breaktext_now"> To learn more about the Idaptive API's, please visit the <a
            href="https://developer.idaptive.com" target="_blank">Idaptive Developer Portal</a>.</p>
      </div>
    </div>
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-3">
      <div class="home-contact">
        <h6 class="home-contact-heading">Contact Us
        </h6>
        <div class="home-contact-content">
          <a href="mailto:devsupport@idaptive.com" target="_top">devsupport@idaptive.com</a>
          <p class="breaktext_now">Email us if you have any questions or would like to speak to us regarding the
            Idaptive API's, custom developement, or custom integration.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>